html {
  font-size: 10px;
}
body {
  font-family: "Arial";
}
#bookList,
h1 {
  margin: 0px 10px;
  text-align: center;
}
.logo {
  margin: 40px 10px;
  text-align: center;
}
.search {
  position: relative;
  width: 264px;
  height: 30px;
  padding: 0px 10px;
  margin: 0px auto;
  text-align: center;
  font-size: 19px;
}
.search #search {
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  box-sizing: border-box;
  border-radius: 20px;
}
.search > img,
.search div > img {
  position: absolute;
  top: 8px;
  left: 15px;
  padding: 0px;
}
.searchButton > div {
  float: left;
  width: 89%;
  height: 100%;
}
.searchButton button {
  float: right;
  width: 10%;
  border: none;
  background-color: transparent;
}
.main {
  text-align: center;
}
.main h1 {
  margin: 40px 0px;
  font-size: 3.8rem;
}
.main h1 + p {
  display: none;
  font-size: 19px;
}
.main #bookList {
  position: relative;
}
.main #bookList .book {
  margin: 0px 10px 60px;
  color: #4c4c4c;
  font-size: 19px;
  cursor: pointer;
}
.main #bookList .book p a {
  color: black;
  text-decoration: none;
}
.main #bookList .book p u {
  color: #4285be;
}
.main #bookList .book p u:hover {
  color: #e61908;
}
.main #addBook {
  margin: 40px 0px;
  padding: 14px 62px;
  background-color: white;
  color: #4285be;
  border: 2px solid #4285be;
  font-size: 17px;
  border-radius: 20px;
  text-align: center;
}
.main #addBook:hover,
.main #addBook:active {
  color: #e41908;
  border-color: #e41908;
}
.main #bookInfo {
  text-align: center;
}
.main #bookInfo #largeBook {
  position: relative;
}
.main #bookInfo #largeBook .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  margin-top: 0px;
  margin-left: -70px;
  border-radius: 140px;
  background-color: white;
  z-index: 3;
}
.main #bookInfo #largeBook .eye .eyeWinking {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  border-radius: 140px;
  box-sizing: border-box;
  border: 4px solid black;
  animation: wink 10s infinite;
}
.main #bookInfo #largeBook .eye #appleOfTheEye {
  position: absolute;
  top: 58px;
  left: 58px;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: black;
}
.main #bookInfo .description {
  margin: 40px auto 60px;
}
.main #bookInfo .description p {
  height: auto;
}
.main #bookInfo .divRight > div,
.main #bookInfo .divLeft > div {
  margin-top: 25px;
  margin-bottom: 60px;
}
.main #bookInfo p {
  height: 90px;
  margin: 0px 10px;
  font-size: 21px;
}
.main #bookInfo p u {
  text-decoration: none;
}
.main #bookInfo p:nth-of-type(1) {
  font-size: 24px;
}
.main #bookInfo p:nth-of-type(1) strong {
  color: #fc5454;
}
.main #button {
  margin: 60px 10px 30px;
  padding: 14px 62px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #865686, #623d64);
  box-shadow: 0px 5px 5px #493d4a;
  font-size: 32.6px;
  color: white;
}
.main #button span {
  text-transform: uppercase;
}
.main #button:hover {
  background-image: linear-gradient(to bottom, #c18cc4, #623d64);
}
.main #button:active {
  background-image: linear-gradient(to bottom, #865688, #623d64);
}
.main button + p {
  color: gainsboro;
  font-style: italic;
  font-size: 15px;
}
.main #bookOrder form > div > label,
.main #bookOrder form > div > input {
  display: block;
  width: 80%;
  margin: 5px auto;
}
.main #bookOrder form > div > div {
  padding-left: 30%;
  text-align: left;
}
.main #bookOrder textarea {
  width: 80%;
}
.main #bookOrder h4 {
  margin-bottom: 5px;
}
.about hr {
  width: 80vw;
}
.about > * {
  max-width: 640px;
  padding: 0px 10px;
  margin: 30px auto;
  font-size: 19px;
  text-align: left;
}
.about > h1 {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}
.about h1 + p {
  max-width: 880px;
}
.about h2 {
  margin-top: 60px;
  font-size: 42px;
}
.about h3 {
  margin-top: 50px;
  font-size: 24px;
}
.about p + hr + p {
  max-width: 960px;
  margin: 35px auto;
  font-size: 35px;
  font-family: 'IM Fell DW Pica', serif;
}
.about p,
.about li {
  text-align: left;
}
.about ul {
  padding: 0px;
}
.about li {
  list-style-type: none;
}
.about li::before {
  content: "— ";
}
@keyframes wink {
  0%, 90%, 100% {
    border-top-width: 4px;
    border-bottom-width: 4px;
  }
  91%, 99% {
    border-top-width: 15px;
    border-bottom-width: 15px;
  }
  92%, 98% {
    border-top-width: 35px;
    border-bottom-width: 35px;
  }
  93%, 97% {
    border-top-width: 56px;
    border-bottom-width: 56px;
  }
  94%, 96% {
    border-top-width: 65px;
    border-bottom-width: 65px;
  }
  95% {
    border-top-width: 70px;
    border-bottom-width: 70px;
  }
}
footer {
  margin-bottom: 0px;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 13px;
  }
  header {
    text-align: left;
  }
  .main > h1 + p {
    display: block;
    max-width: 877px;
    margin: 50px 17vw;
  }
  .book {
    display: inline-block;
    width: 280px;
    vertical-align: top;
  }
  body {
    margin: 0px 2.8vw;
  }
  .logo,
  .search {
    margin: 40px auto;
  }
  .divLeft,
  .divRight {
    display: inline-block;
    width: 45vw;
    margin-top: 60px;
    vertical-align: top;
  }
  .main > #bookInfo > #largeBook > .containerImg {
    width: 420px;
    height: 600px;
    padding: 0px;
    margin: 0px auto;
  }
  .main > #bookInfo > #largeBook > .containerImg img {
    width: 100%;
  }
  .main > #bookInfo > #largeBook > .containerImg div {
    width: 420px;
  }
  .description {
    width: 420px;
    margin: 0px auto;
  }
  .main button {
    margin-top: 60px;
  }
  .main #bookOrder {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .main #bookOrder img {
    float: left;
    width: 25vw;
  }
  .main #bookOrder form {
    float: right;
    width: 62vw;
    text-align: left;
  }
  .main #bookOrder form > div {
    width: 49%;
    margin-bottom: 40px;
  }
  .main #bookOrder form > div:nth-of-type(1) {
    float: left;
  }
  .main #bookOrder form > div:nth-of-type(2) {
    float: right;
  }
  .main #bookOrder form > div:nth-of-type(2) h4:nth-of-type(1) {
    margin-top: 5px;
  }
  .main #bookOrder form > div > label,
  .main #bookOrder form > div > input {
    width: 100%;
  }
  .main #bookOrder form > div > div {
    padding-left: 0px;
  }
  .main #bookOrder h2 {
    clear: both;
  }
  .main #bookOrder textarea {
    width: 100%;
    height: 123px;
  }
  .main #bookOrder #adress {
    display: none;
  }
  footer {
    clear: both;
  }
}
@media only screen and (min-width: 660px) {
  .search {
    float: right;
    margin: 40px 10px;
    padding: 0px;
    width: 300px;
    border-left: none;
  }
  .search > img,
  .search div > img {
    left: 10px;
  }
  .logo,
  .search {
    display: inline-block;
  }
}
@media only screen and (min-width: 1000px) {
  html {
    font-size: 15.5px;
  }
  .divLeft,
  .divRight {
    display: block;
    width: 24.2vw;
    margin-top: 0px;
  }
  .divLeft {
    float: left;
  }
  .divRight {
    float: right;
  }
  #bookInfo p {
    height: auto;
  }
}
@media only screen and (min-width: 1366px) {
  html {
    font-size: 18.9px;
  }
}
